allpairspy==2.5.1
approval-utilities==8.4.1
approvaltests==8.4.1
attrs==23.1.0
beautifulsoup4==4.12.2
black==23.7.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
empty-files==0.0.4
exceptiongroup==1.1.2
idna==3.4
iniconfig==2.0.0
mrjob==0.7.4
mypy==1.4.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pluggy==1.2.0
pyparsing==3.1.0
pyperclip==1.8.2
pytest==7.4.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
tomli==2.0.1
tox==4.6.4
typed-ast==1.5.5
typing_extensions==4.7.1
urllib3==2.0.3
