allpairspy==2.5.1
approval-utilities==10.3.0
approvaltests==10.3.0
attrs==23.2.0
beautifulsoup4==4.12.3
black==24.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
empty-files==0.0.9
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
mrjob==0.7.4
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pyparsing==3.1.1
pyperclip==1.8.2
pytest==8.0.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tox==4.12.1
typed-ast==1.5.5
typing_extensions==4.9.0
urllib3==2.2.0
